.container {
    display: flex;
    width: 100%;
  }
  
  .box {
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: top;
    padding-top: 5%;
    gap:2%;
  }
  
  .box:not(:last-child) {
    margin-right: 45px;
  }
  
  .yellow {
   
    background-color: rgb(252, 252, 146);
    align-items: center;
  }
  
  .red {
    background-color: rgb(247, 142, 142);
    
    align-items: center;
    
  }
  
  .green {
    
    background-color: rgb(167, 252, 167);
    align-items: center;
  }
  
  .orange {
    padding-left:3%;
    background-color: rgb(253, 212, 136);
    flex: 1.6;
    
  }
  
  .blue {
    
    background-color: lightblue;
    align-items: center;
  }
  
  .text {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
  }
  .text1 {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
    margin-right: 30%;
  }
  
  .sub-box {
    width: 70px;
    height: 90px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
  }
  